.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {opacity: 1;
    -webkit-transform: translateY(0%); }
}

@keyframes fadeIn {
  0% {opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  100% {opacity: 1;
    transform: translateY(0%);}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
