<p *ngIf="this.puzzleNb == 2">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<p *ngIf="this.puzzleNb == 3">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<p *ngIf="this.puzzleNb == 4">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<p *ngIf="this.puzzleNb == 5">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<p *ngIf="this.puzzleNb == 6">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<p *ngIf="this.puzzleNb == 7">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<p *ngIf="this.puzzleNb == 8">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<p *ngIf="this.puzzleNb == 9">
  puzzle yes {{this.puzzleNb}}
  works!
</p>

<app-num-padlock></app-num-padlock>
