<div class="puzzle-wrapper animated fadeIn">
  <h4>
    Vk mywlsxkscyx ocd :
  </h4>
  <h4>
    N - 3 . . 6 . . . . 1 .
  </h4>
  <h4>
    B - . 4 3 . 8 6 6 7 . 12
  </h4>
</div>

<div id="p-wrapper" class="animated slideIn">
  <button (click)="this.reset()" type="button" class="btn btn-dark">Recommencer</button>
  <ul id="piano">
    <li><div class="anchor" (click)="this.pushKey('w1')"></div></li>
    <li><div class="anchor" (click)="this.pushKey('w2')"></div><span (click)="this.pushKey('b1')"></span></li>
    <li><div class="anchor" (click)="this.pushKey('w3')"></div></li>
    <li><div class="anchor" (click)="this.pushKey('w4')"></div><span (click)="this.pushKey('b2')"></span></li>
    <li><div class="anchor" (click)="this.pushKey('w5')"></div><span (click)="this.pushKey('b3')"></span></li>
    <li><div class="anchor" (click)="this.pushKey('w6')"></div></li>
    <li><div class="anchor" (click)="this.pushKey('w7')"></div><span (click)="this.pushKey('b4')"></span></li>
    <li><div class="anchor" (click)="this.pushKey('w8')"></div><span (click)="this.pushKey('b5')"></span></li>
    <li><div class="anchor" (click)="this.pushKey('w9')"></div><span (click)="this.pushKey('b6')"></span></li>
    <li><div class="anchor" (click)="this.pushKey('w10')"></div></li>
    <li><div class="anchor" (click)="this.pushKey('w11')"></div><span (click)="this.pushKey('b7')"></span></li>
    <li><div class="anchor" (click)="this.pushKey('w12')"></div><span (click)="this.pushKey('b8')"></span></li>
  </ul>
</div>


<p *ngIf="this.right; then yes">
</p>

<ng-template #yes>
  <h2>
    Indice pour trouver le code de la prochaine énigme :
  </h2>
  <h2>
    <u>{{this.clue}}</u>
  </h2>
</ng-template>
