<div class="wrapper animated fadeIn" style="display:flex; flex-direction: column; justify-content: space-around; text-align: center">
  <h2 style="position: relative; top:1rem;">Instructions</h2>
  <p style="font-size: 150%;position: relative; top:1rem;">Réussis toutes les énigmes pour trouver ton kdo</p>
  <p style="font-size: 150%;position: relative; top:1rem;">Tout se passe dans ma chambre</p>
  <p style="font-size: 150%;position: relative; top:1rem;">Les post-it donnent les codes pour débloquer l'énigme suivante</p>
  <p style="font-size: 150%;position: relative; top:1rem;">Garder les post-it peut être utile pour la suite</p>
  <p style="font-size: 150%;position: relative; top:1rem;"><a href="https://www.dcode.fr">dcode.fr</a> te sera certainement utile</p>
  <p style="font-size: 150%;position: relative; top:1rem;">L'indice pour trouver le premier post-it est : <u>BUREAU</u></p>
  <p style="font-size: 150%;position: relative; top:5rem;">Une fois le post-it trouvé, retourne au menu en cliquant sur Accueil en haut à gauche</p>
  <p style="font-size: 150%;position: relative; top:5rem;">pour entrer le code trouvé dans la case correspondante</p>
</div>
