.card {
  position: relative;
  top: 2em; left: 2em;
  margin: 0 0 2em 2em;
  width: 18em;
  display: inline-block;
  background-color: #394046;
}

.card-body:hover {
  background-color: #394046;
}

.card-body {
  height: 100%;
  border: 1px solid #343a40;
  background-color: #505962;
}

#final-container {
  text-align: center;
  margin-top: 10em;
}

.card:hover {
  cursor: pointer;
}

.final:hover {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

h5 {
  text-align: center;
}

.modal-body {
  text-align: center;
}

button.redBorder {
  border: 1px solid red;
}

input.redBorder {
  border: 1px solid red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    transform: translate3d(-1px, 1px, 0);
  }

  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    transform: translate3d(1px, -1px, 0);
  }
}

.countdown-wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.countdown-big-wrapper {
  border: 2px solid white;
  border-radius: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 3rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {opacity: 1;
    -webkit-transform: translateY(0%); }
}

@keyframes fadeIn {
  0% {opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
  100% {opacity: 1;
    transform: translateY(0%);}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
